<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Demo Application</a>
  <div class="lang-dropdown">
    <label for="cars"> Languages </label>
    <select id="cars" (click)="selectLang($event)">
      <option value="en">Engish</option>
      <option value="ch"> {{ 'chinese' | translate }}</option>
    </select>
  </div>
</nav>
<br />

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="name">{{ 'name' | translate }}</label>
          <input formControlName="name" id="name" type="text" class="form-control">
          <div class="alert alert-danger" *ngIf="name.touched && name.invalid"> Please enter your name</div>        </div>
        <div class="form-group">
          <label for="email">{{ 'email' | translate }}</label>
          <input formControlName="email" id="email" type="text" class="form-control">
          <div class="control-group error">
            <span class="text-danger" *ngIf="email.errors.noSpace"> whites spaces not allowed</span> 
          </div>
        </div>
        <div class="form-group">
          <label for="company">{{ 'company' | translate }}</label>
          <input formControlName="company" id="company" type="text" class="form-control">
        </div>
        <button class="btn btn-primary float-right" (click)="saveUser(form)"
          type="submit">{{ 'submit' | translate }}</button>
      </form>
    </div>

    <div class="col-sm-8">
      <div>
        <table class="table table-hover table-sm" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th>{{ 'name' | translate }}</th>
              <th>{{ 'email' | translate }}</th>
              <th>{{ 'company' | translate }}</th>
              <th>{{ 'action' | translate }}</th>
            </tr>
          </thead>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.company.name }}</td>
            <td><button class="btn btn-primary"> {{ 'details' | translate }}</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>